body {
  margin: 0 auto;
  width: 80%;
}

p {
  margin: 10px auto;
  text-align: center;
  font-family: arial;
  display: block;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
}

p:hover {
  background-color: #ddd;
  text-decoration: underline;
}

h1 {
  text-align: center;
}
